body {
  padding-top: 60px;
  padding-bottom: 40px;
}

textarea, body, p, .navbar-search .search-query {
  font-family: 'Anonymous Pro', sans-serif;
}

.sidebar-nav {
  padding: 9px 0;
}

#log {
  height: 172px;
  background-color: #fff;
  border:  1px solid #ccc;
  overflow-y: scroll;
  margin: 10px;
  margin-left: 0px;
}
