body {
  padding-top: 60px;
  padding-bottom: 40px;
}

textarea, body, p, .navbar-search .search-query {
  font-family: 'Anonymous Pro', 'Andale Mono', monospace;
}

.sidebar-nav {
  padding: 9px 0;
}

.hero-unit {
  display:block;
  margin: auto;
  padding: 10px;
  width: 1000px;
}

#terminal {
  display: block;
  width: 1000px;
}

#log {
  height: 172px;
  background-color: #000;
  color: #ccc;
  border-top:  2px solid #ccc;
  overflow-y: hidden;
  margin: 0px;
  width: 1000px;
}

#message {
  width: 990px;
  margin: 0px;
}
